/* My css stylesheet */

* {
    background-color: rgb(35, 37, 39);
    font-family:  "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.05rem;
    
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .05rem;
    
    box-sizing: border-box;
    border: 1px solid black;
   
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 100;
}

#body {
    animation: alternate;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    border: solid rgb(0, 0, 0) 1px;
}

.item {
    border: solid rgb(0, 0, 0) 1px;
    

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}


img, .item2picture {
    /* position: absolute; */
    width: 35%;
    height: auto;
   
}


.container{
    padding-left: 15%;
    
  
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item9 {
    grid-column-start: 1;
    grid-column-end: 4;
}