/* My css stylesheet */

* {
    background-color: rgb(35, 37, 39);
    font-family:  "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.05rem;
    
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .05rem;
    
    box-sizing: border-box;
    border: 1px solid black;
   
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 100;
}

#body {
    animation: alternate;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
  padding: 15px;
  border: 1px solid red;
}

.col-1 {
  width: 8.33%;
}

.col-5 {
  width: 12.49%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*  navigation and content styling */

#navigation {
  display: flex;
  flex-basis: 99%;
}

.logo {
  height: 50px;
  flex-basis: 17%;
  margin-right: 65%;
}

.navcontainer {
    padding: 0%;
    margin: 0px 50px 0px 50px;
    width: 200px;

}

.navlinks ul {
  display: inline-flex;
  width: auto;
}

.navlinks li {
    width: auto;
}

.navlinks ul li {
  list-style: none;
  padding-right: 5px;
}

.section1 {
  display: flex;
  width: 100%;
  height: auto;
}

.image img {
  padding-left: 50px;
  flex-basis: 50%;
  height: auto;
}

.content{
  
}

.section1 .content {
  flex-basis: auto;
  margin-left: 50px;
  margin-right: 50px;
}



@media (max-width: 1200px) and (min-width: 701px) {
  .logo {
    height: 50px;
    flex-basis: 30%;
    margin-right: 40%;
  }

 .navcontainer {
     padding: 0%;
     margin: 0px 50px 0px 50px;
     width: 200px;

 }


  .image img {
      padding-left: 50px;
      flex-basis: 50%;
      height: auto;
  }

  .section1 .content {
    margin: 0px;
    flex-basis: 75%;
  }

}
@media (max-width: 700px) and (min-width: 320px) {
  header {
    flex-wrap: wrap;
  }

  header .logo {
    margin: 15px auto;
    padding: 10px;
  }

  header nav {
    margin: 5px auto;
  }

  .section1 {
    flex-wrap: wrap;
  }

  .section1 .content {
    margin: 0px auto;
    flex-basis: 85%;
    margin-right: 0%;
  }

  .image {
    margin: 15px auto;
  }

}

@media (max-width: 700px) and (min-width:320px) {
  header {
    flex-wrap: wrap;
  }

  header .logo {
    margin: 15px auto;
    padding: 10px;
  }

  header nav {
    margin: 5px auto;
  }

  .section1 {
    flex-wrap: wrap;
  }

  .section1 .content {
    margin: 0px auto;
    flex-basis: 85%;
    margin-right: 0%;
  }

  .image {
    margin: 15px auto;
  }
}

